/* App.module.css */
.Heading {
    color: rgba(12, 110, 66, 0.952);
    font-family: 'Arial Bold', sans-serif;
    font-size: 24px;
  }

  .Subheading {
    color: rgba(12, 110, 66, 0.952);
    font-family: 'Arial Bold', sans-serif;
    font-size: 24px;
  }
  